table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    margin: 0 0 2em 0;
    width: 50%;
}

table tbody tr:nth-child(2n+1) {
    background-color: rgba(212, 212, 255, 0.035);
}

table td {
    padding: 0.75em 0.75em;
}